* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  display: grid;
  grid-template:
    "header " auto
    "main " 1fr
    "footer" auto/
    1fr;
}

header {
  grid-area: header;
  display: grid;
  grid-auto-flow: column;
  padding: 1rem;
  align-items: center;
}
.logo-section {
  padding-left: 5rem;
  display: flex;
  place-content: start;
}

.logo__logo-section {
  width: 170px;
}
.search-section {
  display: flex;
  padding-right: 1rem;
  place-content: center;
}

.search-section .material-symbols-outlined {
  padding: 0.5rem;
  color: #fff;
}

#search {
  border: solid 0.5px rgb(191, 190, 190);
  border-right: none;
  padding: 0.5rem;
}
.search-icon {
  background-color: #ef1d26;
  border: none;
}

main {
  grid-area: main;
  grid-template:
    "nav-bar" 40px
    "main-news" 1fr
    "latest-news" 1fr/
    1fr;
  display: grid;
  padding: 1rem 2rem;
}

.nav-bar {
  display: grid;
  background-color: #232323;
  place-content: center;
  place-items: center;
  padding: 1.5rem;
}

a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.nav-bar-list {
}

ul {
  list-style: none;
  transition: 1s;
}
.link-nav-bar:hover {
  background-color: #ef1d26;
}

li {
  display: inline;
  padding: 0.5rem;
}

.link-nav-bar {
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: #252730;
  display: grid;
  color: #62696d;
  padding: 1rem;
  place-content: center;
}

.carousel {
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.news {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.news::-webkit-scrollbar {
  display: none;
}

.news-item {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  font-size: 100px;
  height: 600px;
  justify-content: center;
  margin: 1rem;
  position: relative;
  scroll-snap-align: start;
  transform: scale(1);
  transform-origin: center center;
  transition: transform 0.5s;
  width: 100%;
}

.carousel__nav {
  padding: 1.25rem 0.5rem;
}

.slider-nav {
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  color: #000;
  display: inline-flex;
  height: 1.5rem;
  justify-content: center;
  padding: 0.5rem;
  position: relative;
  text-decoration: none;
  width: 1.5rem;
}

.slider-nav:hover,
.slider-nav:active {
  background-color: #000;
  color: #fff;
}

.slide-1 {
  background-image: url(https://i.guim.co.uk/img/media/bdb0fdc87f4b5900b0879c7d9fa1cf09a3d973fa/1241_56_4336_2601/master/4336.jpg?width=620&quality=85&auto=format&fit=max&s=a5711ba351f794a45633e924b3544b09);
  background-repeat: no-repeat;
  background-size: cover;
}
.slide-1 h5 {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
}
.slide-1 p {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}

.news-text {
  display: grid;
  margin-top: 25rem;
  margin-right: 35rem;
  margin-left: 5rem;
  margin-bottom: 10rem;
  gap: 1rem;
  padding: 1rem;
}

h5 {
  background-color: #ef1d26;
  padding: 1rem;
}
.news-text p {
  background-color: #5a5959;
  padding: 1rem;
}

.carousel {
  border-top: solid 1px black;
}

h2 {
  margin-top: 1rem;
  color: #ef1d26;
}

.editorial-h5 {
  width: 70%;
color: #fff;
  font-size: 2rem;
  place-content: center;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.editorial-p {
  width: 70%;
  font-size: 1.2rem;
  background-color: #5a5959;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.news-section{
  margin-top: 40px;
  display: grid;
  place-items: center;
  background-image: url(https://imgs.search.brave.com/RoDRaBUeD6ud6VYbhEJm-hMCrgB0eWl_zfrUYdNIOTE/rs:fit:1000:796:1/g:ce/aHR0cHM6Ly93d3cu/Zm9ydW1kYWlseS5j/b20vd3AtY29udGVu/dC91cGxvYWRzLzIw/MTcvMDcvRGVwb3Np/dHBob3Rvc182NDkx/NjI4MV9tLTIwMTUt/MS5qcGc);
  background-repeat: no-repeat;
  background-size: cover;
}

.editorial-title{
  display: grid;
  place-items: center;
  margin-top: 30rem;
  margin-bottom: 1rem;
}

.view-more-button{
  display: grid;
  place-items: center;
margin-top: 2rem;
margin-bottom: 1rem;
gap: 0.5rem;
}

.view-more-icon{
  border: none;
  background-color: white;
  transition: 0.5s;
}

.view-more-icon:hover{
  background-color: #ef1d26;
}

.more-news{
  color: rgb(232, 105, 105);
}
.sport-section{
  margin-top: 40px;
  display: grid;
  place-items: center;
  background-image: url(https://imgs.search.brave.com/ZfXJYYo_54Vu1El_-PGmlchonMXaZWFMzw0Q4xP95-k/rs:fit:1200:974:1/g:ce/aHR0cHM6Ly9mc2hm/Lm9yZy93cC1jb250/ZW50L3VwbG9hZHMv/MjAyMS8wNS9DNTQz/Q0IxNS01RTU4LTQw/MjUtQTdBRC0yRTQ2/MjY4NENEMzguanBl/Zw);
  background-repeat: no-repeat;
  background-size: cover;
}
.sport-title{
  display: grid;
  place-items: center;
  margin-top: 30rem;
  margin-bottom: 1rem;
}
.sport-h5 {
  width: 70%;
color: #fff;
  font-size: 2rem;
  place-content: center;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.sport-p {
  width: 70%;
  font-size: 1.2rem;
  background-color: #5a5959;
  color: #fff;
  padding: 1rem;
  text-align: center;
}