* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  grid-template:
    "header " auto
    "main " 1fr
    "footer" auto/
    1fr;
}

header {
 
  grid-area: header;
  display: grid;
    grid-template:
        "logo-section search-section" auto/
        1fr;
       padding: 1rem;
  }

.logo__logo-section{
    width: 20%;
    padding-left: 3rem;
}

main {
  grid-area: main;
  background-color: #e2c1c1;
}

footer{
    grid-area: footer;
    background-color: #9d8a8a;
    display: grid;
   
}